.inputs {
  width: 90%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: white;
  padding: 10px;
  box-shadow: 3px 5px 8px -2px rgba(135, 135, 135, 1);
  text-align: right !important;
}

.editIcon {
  text-align: left;
}
.hr1 {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.headerTxt {
  font-size: 13px;
  font-weight: bold;
}

.labelTxt {
  font-size: 11px;
}

.inputBox {
  margin: 0px !important;
}

.txtClub {
  position: relative;
  top: 5px !important;
  font-size: 20px;
  padding-left: 5px;
  margin-right: 20px;
}

.enterBtn {
  width: 90%;
  color: white;
  background-color: rgb(12, 42, 50);
  border-radius: 30px;
  margin-left: 5%;
  margin-top: 10px;
  margin: 20px;
}
