.backBtn {
  font-size: 22px;
  margin-left: 4px;
}

.headerTxt {
  font-weight: bold;
}

.dateTime {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 19px;
  font-weight: bold;
  color: #003366;
}
