.user {
  background-color: rgb(14, 42, 50);
  color: white;
  text-align: center;
}

.userInfo {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

.loginBtn {
  background-color: white;
  border-radius: 20px;
  margin: 8px 2px;
  padding: 4px 14px !important;
  color: rgb(14, 42, 50);
  font-weight: bold;
  font-size: 14px;
}
