.headerTxt {
  font-weight: bold;
  font-size: 10px;
}

.txt {
  font-size: 9px;
}

.productBox {
  padding: 3px !important;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.productBox1 {
  padding: 10px !important;
  color: red;
}

.back {
  color: red;
}

.backPrice {
  color: red;
  font-size: 16px;
}
.prodBox {
  margin-right: 0px !important;
  direction: rtl;
}

.header {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.amount {
  font-size: 20px;
  font-weight: bold;
  color: #331d49;
  text-align: center;
}

.mainContent {
  padding: 0px 20px;
  direction: rtl !important;
  text-align: right !important;
}
