.headerTxt {
  font-weight: bold;
  font-size: 13px;
}

.txt {
  font-size: 11px;
}

.productBox {
  padding: 3px !important;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.productBox1 {
  padding: 10px !important;
  color: red;
  
}

.prodBox{
  margin-right: 0px !important;
}
