<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="mt-4">
          <ion-list-header class="menuHeader"
            >שלום, {{ api.userDetails["Vorna"] }}
            {{ api.userDetails["Nachn"] }}</ion-list-header
          >
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              (click)="navigateFN(i)"
              routerDirection="root"
              lines="none"
              detail="false"
              *ngIf="p.url != '/login'"
              [class.selected]="selectedIndex == i"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              lines="none"
              detail="false"
              (click)="logOut()"
              *ngIf="p.url == '/login'"
              [class.selected]="selectedIndex == i"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="BatteryStatus" *ngIf="api.BatteryStatus">
          אחוז סוללה: {{ api.BatteryStatus.level }}
        </div>
        <div class="version">
          גירסה - {{version}}
        </div>
        <div class="version">
           {{env}}
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
