.addMember {
  padding: 20px 5px;
  background-color: rgb(67, 160, 46);
  color: white;
  text-align: center;
  border: 2px solid white;
}

.saleNotMember {
  padding: 20px 5px;
  background-color: rgb(161, 175, 0);
  color: white;
  text-align: center;
  border: 2px solid white;
}

.saleNotMemberNotGuerlain {
  padding: 20px 5px;
  background-color: rgb(67, 160, 46);
  color: white;
  text-align: center;
  border: 2px solid white;
}
.topRow {
  margin: 20px 10px 1px 10px;
}

.txtBold {
  font-weight: bold;
}

ion-icon {
  font-size: 30px;
}

.bottomRow {
  margin: 0px 10px 3px 10px;
}

.askPrud {
  background-color: rgb(61, 91, 129);
  padding: 15px 5px;
}

.reports {
  background-color: rgb(73, 86, 102);
  padding: 15px 5px;
}
