.Header {
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  margin-top: 5px;
}

.txt {
  font-size: 11px;
  text-align: right;
  padding: 5px !important;
}

.shiftBox {
  width: 90%;
  margin: 0px 5% 2px;
  // padding: 5px !important;
  background-color: rgb(240, 240, 240);
}

.shiftDetails {
  width: 90%;
  margin: 0px 2px;
}

.txtHe {
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  padding: 5px !important;
  padding-right: 15px !important;
}

.down {
  background-color: #ccc;
  padding: 0px !important;
  z-index: 1;
}

.iconDown {
  margin-left: 5px;
  margin-top: 27px;
}
